/*For example, to convert 120 pixel to vh if the viewport height is 720:*/
/*vh =100 * (120/720) = 16.666666666667*/
.main {
    background-color: #dcdbd9;
    min-height: 91vh;
}
.__create-relation {
    padding-right: 0;
}
.suggestion {
    /*margin-left: .90rem;*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
}

.fd-list {
    /*margin-left: .90rem;*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
}

