# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/__pycache__
/.idea
/fdtool/__pycache__
/source/__pycache__
/source/DrawingImage/__pycache__
/venv
.pnp.js
*.png
*.eps
# testing
/coverage

# production
/build

# folders
/datasets
/source/drawing
/user_work

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
