#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    min-height: 100vh;
    /*display:none;*/
}

.loader {
    position: absolute;
    top: 45%;
    left: 48%;
}
.loader-text {
    position: relative;
    top: 42%;
    left: -30%;
}

.ring-loader {
    position: absolute;
    top: 40%;
    left: 43%;
}
.ring-loader-text {
    position: relative;
    top: 42%;
    /*left: %;*/
}

.general-loader {
    position: absolute;
    top: 45%;
    left: 43%;
}
.general-loader-text {
    position: relative;
    /*top: 52%;*/
    left: 10%;
}