.title {
    font-size: 30px;
    font-weight: 700;
    color: #00343e;
}

.intro-header, .usage-title {
    color: #00343e;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}

.intro-body {
    padding: 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    font-size:large ;
}

.usage-body {
    padding: 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    font-size:large ;
}
.home{
    background-image: url("bg.jpg");
    height: 91vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro-header{
    background-color: white;
    opacity: 0.7;
    text-align: center;
}
.intro-body{
    background-color: white;
    opacity: 0.7;
    height: 15vh;
    text-align: center;
}
.usage-title{
    background-color: white;
    opacity: 0.7;
    text-align: center;
}
.usage-body{
    background-color: white;
    opacity: 0.7;
    height: 18vh;
    text-align: center;
}
.proceedbtn{
    background-color: white;
    opacity: 0.7;
}

.usage2:hover, .usage:hover {
    background-color: #6c757d;
    /*color: green;*/
}