.card-relation {
    background-color: #d0d0d0;
}

.card-1NF-result {

}

.card-1NF-reason {

}

.relation_type {
    background-color: #d0d0d0;
    border-radius: 5px;
    margin-top: .85rem;
    margin-bottom: .30rem;
    font-weight: 500;
}